<div class="form-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="loginFormData()">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input
        type="email"
        class="form-control"
        placeholder="Enter email"
        id="email"
        formControlName="email"
      />
      <div
        *ngIf="
          this.loginForm.get('email').touched &&
          this.loginForm.get('email').errors
        "
        class="invalid-field"
      >
        <span *ngIf="this.loginForm.get('email').errors.required"
          >Email ID is required</span
        >

        <span *ngIf="this.loginForm.get('email').errors.pattern"
          >Please enter valid Email ID</span
        >
      </div>
    </div>

    <div class="form-group">
      <label for="pwd">Password:</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter password"
        id="pwd"
        formControlName="pwd"
      />
    </div>

    <!-- <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" /> Remember me
      </label>
    </div> -->
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!this.loginForm.valid"
    >
      Submit
    </button>
  </form>
</div>
